//- 
	Jade syntax is whitespace important, which
	means that indentation and spacing will define
	how the output is created. For example, the html
	element can be said to have two children, head
	and body, because they are "nested" inside it.

doctype html
html(lang='en')
	head
		meta(charset="utf-8")

		//- Set the title element's value to the value
			of the "title" variable based by the render
			function on the server
		title= title

		//- The express.static in app.js allows us access
			to this public file, so we can include it as a link
		link(rel="stylesheet", href="/styles/main.css")

		//- Blocks create placeholders that can be filled at a
			later time, mainly by templates that extend this one.
			See index.jade for an example of giving these blocks
			a value.
		block headerLinks

	body
		//- Create a div element with 2 classes
			and nest two blocks within
		div.container.container-fluid
			block content
			block footer
		