extends layout

block content
	h1 About Us

	p: a(href="/") Our Desserts

	p We are super cool and know everything
		| about making #{dessertCount} delicious,
		| wholesome, yet horribly tasting desserts.