extend ../../includes/layout

block content
	.container
		h2 HTML1: Basic Practice

		if typeof(due) != 'undefined'
			h3 Due
			p= due

		include basic-practice.md

		.page-comments
			include ../../includes/disqus.html

