extend ../../includes/layout

block content
	.container

		h2 HTML2: Markup Mockups

		if typeof(due) != 'undefined'
			h3 Due
			p= due

		h3 Skills
		ul
			li Basic HTML Tags
			li Semantic Markup

		h3 Requirements
		p Write semantic markup for the following components/pages 
			| without any styles to learn about separation of content 
			| and presentation. Add the indicated content plus any
			| additional content that would make it realistic.
		ol
			li a table of data
				ul
					li heading row
					li ...
			li a user profile
				ul
					li name
					li avatar
					li bio
					li date joined
					li status
					li accomplishments
					li ...
			li a blog
				ul
					li title
					li author
					li date
					li social media links
					li content
					li ...
			li a company home page
				ul
					li logo
					li name
					li tagline
					li news
					li products
					li special offers
					li ...

		.page-comments
			include ../../includes/disqus.html
