extends layout

block content
	h1 Web Sockets
	h2 Tweets : <span id="count">0</span>
	h2 Tweets per second : <span id="tweets-per-second">0</span>

	//- h1 Stock Tweets
	//- h2 Last Updated : <span id="last-update"></span>

	//- ul.symbols
	//- 	each val, key in data.symbols
	//- 		li(data-symbol="#{key}")= key

	h1 Messages
	#message
	input#message-text