doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Email Thing
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

  body
    .container
      block content
  
    //- Get jQuery
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      
    //- Include our main javascript
    script(type="text/javascript", src="/javascript/main.js")


    