doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='/javascripts/utility.js')
    script(src='/javascripts/main.js')