
/* center all inline elements within a container */
h1 {
	text-align: center;
}

/* centering block level elements with a width */
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.center-content {
	text-align: center;
}

.content-block {
	border: solid 1px #cecece;
	padding: 10px;
	display: inline-block;
}