doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Big App

	body
		block content

		//- Get jQuery loaded
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")

		//- Load in our custom JS file
		script(src="scripts/main.js")
		