doctype html
html
	head
		title Boulder Welcome Page
	body
		//- When this file is included with the 'extends' command, anything from 'block content' in that file will be inserted here
		block content
		footer
			p Copyright &copy; RefactorU 2014
		//- A layout file can have multiple blocks (with different names)
		//- block scripts