.blue { background-color: blue; }
.green { background-color: green; }
.red { background-color: red; }

.blue, .green, .red {
	width: 100px;
	height: 100px;
	position: absolute;
}

.green { 
	top: 20px; 
	left: 20px; 
}
.red { 
	top: 40px; 
	left: 40px; 
}

