body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#search{
	margin:0 auto;
	text-align: center
	width:500px;
	font-size:5em;
	border-radius:9px;
}