extends layout

block content
	h1#header Everyday I'm CoffeeScriptin'
	ul
		li Cats
		li Dogs
		li Rabbits
		
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/lib/main.js")
