extend ../../includes/layout

block content
	.container
		h2 CSS3.5: HTML/CSS Deep Dive
		p
			| So you've done all the basics. You dream in angled brackets. CSS specificity and 
			| inheritance flow through your mind in a consice visual torrent. To really go above
			| and beyond, explore and respond to these more advanced HTML/CSS challenges:

		h3 CSS Performance
		h4 Minification
		ul
			li How does CSS minification reduce page load time?
			li What tools are available for minifying CSS?
			li How can a developer incorporate minification into a build process?

		h4 Serving Style
		ul
			li Highly optimized sites take a strategy of serving some CSS in an external stylesheet and some CSS in a style element within the HTML page itself. For best performance, which CSS should be served internally and which externally? Hint: consider browser caching behavior.

		h3 Web Fonts
		ul
			li What is the state of web fonts today?
			li What are good cross-browser solutions to including custom, scalable fonts in your website?
			li What limitations exist?

		h3 HTML5 Video
		ul
			li How is the HTML5 video element used? 
			li What browser support exists for it today?
			li How can embedded video be made responsive?

		h3 Power Sprites
		ul
			li Build a demo site that uses a command line utility to generate sprites from a folder of images. Streamline the process as much as possible so that a developer can simply drop a new image into the folder and run the command line utility to re-generate the sprite image without having to make any modifications to the HTML or CSS.