extend ../../includes/layout

block content
  .container

    h2 CSS3a: CSS Modularity - Part I

    if typeof(due) != 'undefined'
      h3 Due
      p= due

    h3 Skills
    ul
      li CSS Architecture
      li Problem-solving

    h3 Resources
    ul
      li: a(href='http://www.culturedcode.com/css/reference.html', target='_blank') CSS 2.1 Reference
      li: a(href='http://learnlayout.com', target='_blank') LearnLayout


    h3 Requirements
    ol
      li Write the CSS necessary to render the following components. Use the given 
        a(href='https://github.com/RefactorU/refactoru-exercise-starters/tree/master/css/modularity1') starter code
        | . 
        .alert.alert-warning 
          strong Important:
          |  Do not modify the HTML other than to add ids and classes.
      ol
        li data table
        li stats
        li bar chart
        li lightbox
        li media block

      li Your CSS must meet the following requirements:
        ul
          li Must work on different types of elements (not dependent on tagname)
          li Must not affect other elements of the same type
          li Must work in nested hierarchies (e.g. a list within a list; styles should not break)
          li Must not be location specific (can be applied to similar elements on different pages/sections of the site)

      li Style the given HTML to match the following screenshot. It doesn't need to be pixel perfect 
        | (just eyeball it) but it should be <i>close</i>, with color, font, layout, and spacing properly accounted for.
        img(src='/public/img/css-modularity-prototype-part1.png')

    .page-comments
      include ../../includes/disqus.html
