extend ../../includes/layout

block content
  .container

    h2 CSS3c: CSS Modularity - Part III

    if typeof(due) != 'undefined'
      h3 Due
      p= due

    h3 Requirements
    p Write the CSS necessary to render the following components, following the instructions in 
      a(href='modularity1') Part I
      | . Use the given 
      a(href='https://github.com/RefactorU/refactoru-exercise-starters/tree/master/css/modularity3') starter code
      | . 
      .alert.alert-warning 
        strong Important:
        |  Do not modify the HTML other than to add ids and classes.

    ol(start=14)
      li signup form
      li form validation
      li search bar
      li omnibox
      li chunky list

    p Style the given HTML to match the following screenshot. It doesn't need to be pixel perfect 
      | (just eyeball it) but it should be <i>close</i>, with color, font, layout, and spacing properly accounted for.
      img(src='/public/img/css-modularity-prototype-part3.png')

    .page-comments
      include ../../includes/disqus.html