extend ../../includes/layout

block content
	.container
		h2 Git

		if typeof(due) != 'undefined'
			h3 Due
			p= due

		h3 Resources
		ul
			li: a(href='http://try.github.io') try.github.io
			li: a(href='http://gitimmersion.com') git immersion
			//li: a(href='http://pcottle.github.io/learnGitBranching/') learnGitBranching
			//li: a(href='http://git-scm.com/videos') Git Basics Videos
			//li: a(href='http://gitreal.codeschool.com/levels/1') Git Real
		h3 Requirements
		ol
			li Log into github.com
			li Create a new repo called "card-flip"
			li Open terminal
			li Create a folder called Projects in your home directly 
				| (you can access your home directory by typing 
				code cd ~
				| )
			li Create a folder called card-flip in your Projects folder.
			li If you have a solution to the Card Flip exercise, copy and paste
				| it into the card-flip folder you just created. If your partner has the
				| solution files, just add a dummy text file.
			li 
				code cd
				|  into the card-flip directory if you're not there already before following
				| the next step.
			li 
				p Use the following commands to initialize the card-flip folder as a local 
					| repo and add the github repo as a remote. Adding a remote allows you to use 
					| commands like 'pull' and 'push'
					| to keep the code on your computer in sync with the code on github.
					| (These same instructions appear on github.com after creating the repo.)
				p Make sure you replace 
					code YOUR_GITHUB_ID
					|  with your actual github id.
				pre
					code
						| touch README.md
						| git init
						| git add .
						| git commit -m "first commit"
						| git remote add origin https://github.com/YOUR_GITHUB_ID/card-flip.git
						| git push -u origin master
			li Navigate to your card-flip repo on github.com (or refresh it if it's 
				| already open from a previous step) and verify that it contains 
				| the newly added files.

		p.alert.alert-success 
			strong Congratulations! 
			| You can now execute git commands from the terminal to
			| interact with a repo on your github account. You can use this technique
			| to submit your homework exercises. Follow these instructions each time
			| you wish to create a new repo for submitting an exercise solution.
	
		.page-comments
			include ../../includes/disqus.html

