extend ../../includes/layout

block content
	.container
		h2 CLIENT1: Browser JS Basics

		if typeof(due) != 'undefined'
			h3 Due
			p= due

		h3 Skills
		ul
			li script tag
			li alert, prompt
			li string functions and properties

		h3 Requirements

		h4 a. Hello Boulder
		ol
			li Create a blank, valid html5 document.
			li Create a javascript file with the content alert('Hello Boulder!'); and include it in your page with the script tag.

		h4 b. Personal Hello
		ol
			li Create a blank, valid html5 document.
			li Create a javascript file and include it with a script tag as before.
			li Use var, prompt, string literals, the + operator, and alert such that when the user opens the page, it will ask them for their name, and then respond with "Hello [NAME_GOES_HERE]!"
	
		.page-comments
			include ../../includes/disqus.html
