extend ../../includes/layout

block content
	.container

		h2 CLIENT3: Simple Validator

		if typeof(due) != 'undefined'
			h3 Due
			p= due

		h3 Resources
		ul
			li: a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference', target='_blank') Mozilla Javascript Reference
			| (probably more information than you want, but at least you have a reference you can refer
			| to for information about specific javascript keywords, types, etc.)

		h3 Requirements
		ol
			li
				p
					| Create an html file and js file and add a script tag to include the js file as before. (Getting familiar? Good!)
			li
				p
					| Prompt the user to enter their phone number with dashes. (You might want to assure them that it won’t be used for SPAM. Your site probably looks pretty sketchy right now, being a blank page with a prompt for their phone number. I know I wouldn’t enter my phone number...)
				p
					| Tip: You can report simple boolean evaluations of user input by combining boolean operators.
					br
					| e.g. alert(userInput.charAt(0) === 'B' && userInput.length === 7)
					br
					| will display true if the user enters 'Boulder' or 'Baghdad'.
			li
				p Alert the user if their phone number is valid (just true or false) according to the simple rule that the fourth and eighth characters must be dashes.
			li
				p
					| Following the same procedure as #2 and #3 above to prompt and validate the following fields:
			ul
				li
					p birth date
				ul
					li
						p must follow the format xx/xx/xx
				li
					p postal code
				ul
					li
						p must follow the format xxxxx OR xxxxx-xxxx
				li
					p state abbreviation
				ul
					li
						p must be two characters
					li
						p must be all caps
				li
					p married
				ul
					li
						p must be yes or no
					li may be any capitalization: YES, Yes, yes.

		.page-comments
			include ../../includes/disqus.html