// Functions
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
border-radius()
	vendor('border-radius', arguments)
background-image()
	vendor('background-image', arguments)
transition()
	vendor('transition', arguments)
transform()
	vendor('transform', arguments)
text-shadow()
	vendor('text-shadow', arguments)

// Colors
StylusGreen = rgba(179,209,7,1)

// Style

// Stylus
body{
	font-family:'Helvetica';
}
// CSS
// body { 
// 	font-family:'Helvetica';
// }


h1
	color:StylusGreen
	font-size:5em
	text-align:center;
	text-shadow(0px, 0px, 15px, #000)

// h1 {
// 	text-shadow:0px 0px 15px #000
// }

// .mydiv{
// 	width:100%
// 	border:1px solid #000
// }
// .mydiv p{
// 	font-size:5em
// }
// .mydiv p a{
// 	font-weight:bold
// }

.mydiv
	width:100%
	border:1px solid #000
	p 
		font-size:4em
		border:1px solid #000
		a
			font-weight:bold
			color:#999





