mixin myStudentList(students)
	ul
	- for(var i = 0; i < students.length; i++){
		li= students[i]
	- }

//Jade
doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include content
		include myHtml.html


