a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #3498DB;
}

.main-header,
.main-footer,
main {
	width: 600px;
	/* SET ALL MARGINS */
	/* margin: 20px; */

	/* SET T/B & L/R */
	/* margin: 20px 50px; */

	/* SET INDIVIDUAL (T, R, B, L) */
	margin: 0 auto 0 auto;
}

.main-header {
	background: #000000;
	background: #000;
}