doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		block headerScripts

	body
		block navigation
		block content
		footer.main-footer
			block footer

		script(src="/main.js")