body { 
	font-family: Helvetica;
	font-weight: 300;
	color: white; 
}

h1 {
	font-weight: 300;
	margin: 0;
}

.container { background-color: rgba(255,50,25,0.9);  }
.red { background-color: rgba(255,50,25,0.9);  }
.green { background-color: rgba(50,255,100,0.9); }
.blue { background-color: rgba(25,75,255,0.9);  }
.purple { background-color: rgba(190, 0, 255, 0.9); }